* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    padding-bottom: 20px;
}

.header h1 {
    font-size: 36px;
}

.header p {
    margin-bottom: 5px;
    color: #666;
}

.header a {
    color: #000;
    text-decoration: none;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.section p {
    margin-bottom: 5px;
}

ul {
    list-style: none;
}

.education-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.institution {
    max-width: 70%;
}

.year {
    text-align: right;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .header h1 {
        font-size: 28px;
    }

    .section h2 {
        font-size: 20px;
    }
}

.skills-list, .project-list, .languages-list  {
    list-style-type: disc;
    margin-left: 20px;
}
.education{
    list-style-type: disc;
    margin-left: 20px;


}